Package: fim-daemon
Version: 1.0.0
Section: admin
Priority: optional
Architecture: amd64
Depends: python3, python3-venv, python3-requests, python3-psutil, python3-yaml
Maintainer: Brian Cherng <briancherngsch@gmail.com>
Description: File Integrity Monitor Daemon
 Real-time file integrity monitoring using Merkle trees
 and cryptographic verification.
 