#!/usr/bin/make -f
%:
	dh $@ --with python3

override_dh_auto_install:
	# Install Linux main script
	install -D -m 755 src/linux/fim_daemon_linux.py $(CURDIR)/debian/fim-daemon/usr/bin/fim-daemon
	# Install core modules
	cp -r src/core $(CURDIR)/debian/fim-daemon/usr/share/fim-daemon/
	# Install Linux requirements
	install -D -m 644 src/linux/requirements.txt $(CURDIR)/debian/fim-daemon/usr/share/fim-daemon/
	# Install systemd service
	install -D -m 644 src/linux/debian/fim-daemon.service $(CURDIR)/debian/fim-daemon/lib/systemd/system/fim-daemon.service